@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mustard-orange: #a35f1a;
  --mustard-orange-light: #e29950;
  --secondary-color: #f7f7f7;
  --stone-accent: #111111;

  font-family: 'Merriweather Sans', system-ui, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--stone-accent);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
